/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
    padding: 5vh 10vw;
}

.badge {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.btn {
    border-radius: 0px;
    margin: 5px;
} 